{% extends 'common/home.html' %}
{% load static %}

{% block body_attrs %}
style="--navbar-bg: url('{% static "images/athletes-background.jpg" %}'); --navbar-bg-pos: 55% 48%;"
{% block navbar_title %}List of Athletes{% endblock %}
{% endblock %}

{% block content %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Birth Date</th>
                    <th>Gender</th>
                    <th>Disciplines</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for athlete in athletes %}
                    <tr>
                        <td>{{ athlete.first_name }} {{ athlete.last_name }}</td>
                        <td>{{ athlete.nationality }}</td>
                        <td>{{ athlete.birth_date }}</td>
                        <td>{{ athlete.gender }}</td>
                        <td>{{ athlete.disciplines.all|join:", " }}</td>
                        <td><a href="{% url 'athletes:delete' athlete.id%}" class="delete-athlete-btn"> DELETE</a></td>
                    </tr>
                {% empty %}
                    <h1 class="no-data-message">No data available at this moment!</h1>
                {% endfor %}
            </tbody>
        </table>
        <button class="create-athlete-btn">
            <a href="{% url 'athletes:create' %}">CREATE ATHLETE</a>
        </button>
    </div>
{% endblock %}