{% extends 'common/home.html' %}
{% load static %}

{% block body_attrs %}
style="--navbar-bg: url('{% static "images/athletes-background.jpg" %}'); --navbar-bg-pos: 55% 63%;"
{% block navbar_title %}Athletes{% endblock %}
{% endblock %}

{% block content %}
    <section class="athletes-overview">
        <h1>This is the athletes overview home page!</h1>
        <div class="athletes-overview-inner-wrapper">
            <p>Here you will find several options. Choose one based on your preference:</p>

            <ul class="athletes-overview-btns-wrapper">
                <li class="btn-a-el">
                    <a href="{% url 'athletes:list'%}">List all of the athletes.</a>
                </li>
                <li class="btn-a-el">
                    <a href="{% url 'common:redirect_home'%}">Go back home.</a>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}