{% extends 'common/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'records/css/records.css' %}">
{% endblock %}

{% block title %}Results{% endblock %}

{% block body_attrs %}style="--navbar-bg: url('{% static "common/images/results-background.jpg" %}'); --navbar-bg-pos: 50% 50%;"{% endblock %}

{% block navbar_title %}Results{% endblock %}

{% block content %}

<div class="wrapper-results">
    {% include 'records/_results_partial.html' %}
</div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'records/js/records.js' %}"></script>
{% endblock %}