* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif; /* Set default font */
    line-height: 1.6; /* Makes text spacing readable */
    background-color: #f9f9f9; /* Light neutral background */
    color: #333; /* Default text color */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--navbar-bg, url("../images/background_image.jpg")) no-repeat var(--navbar-bg-pos, 50% 40%);
    background-size: cover;
    height: 40vh;
}

.navbar-title {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    margin-bottom: 2em; /* space between title and menu */
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 1.3em 0;

    /* Space items evenly */
    justify-content: center; /* or space-between */
    align-items: center; /* vertically center links if navbar has height */
    gap: 2em;
}

.navbar ul li a {
    display: block;
    padding: 0.5em 2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #99FF99;
    border-radius: 0.5em;
    border: 2px solid black;
}

.navbar ul li a:hover{
    background-color: rgb(204, 204, 0);
}

.site-footer {
  background-color: #99FF99;
  color: black;
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.site-footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
}
