@import url(base.css);
@import url(results.css);
@import url(../athletes/css/athletes-list.css);
@import url(../athletes/css/athletes-overview.css);
@import url(../athletes/css/athletes-create.css);
@import url(../athletes/css/responsive.css);