.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 6px 0;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: relative;
        align-items: center;
    }

    .navbar ul.active {
        display: flex;
        background: transparent;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 1rem 0;
    }

    .navbar li {
        margin: 0 0;
    }

    .navbar li a {
        color: #000; /* Ensure text is visible on dark background */
        font-size: 1.5em; /* Make links larger for mobile */
        transition: color 0.3s ease;
    }
    .navbar ul li a {
        border: none;
    }

    .navbar li a:hover {
        color: var(--primary-color);
    }

    .navbar .dropdown .dropdown-content {
        position: relative;
        background: none;
        box-shadow: none;
    }

    .navbar .dropdown .dropdown-content a {
        padding: 10px 0;
        color: #ddd;
    }

    .hamburger-menu {
        display: block;
        z-index: 1001; /* Ensure hamburger menu is above the full-screen menu */
    }
}