.wrapper-results{
    border: 2px solid black;
    border-radius: 2em;
    margin: 0.5em;
    padding: 1em 0.5em;
    box-shadow: 3px 2px #888888;
}

.choose-year-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.year-select {
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    border: 2px solid black;
    background-color: #f5f5f5;
    font-size: 1rem;
    cursor: pointer;
}

.year-select:hover {
    background-color: #e0e0e0;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.files-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-el-files {
    padding: 0.5em;
}

.download-btn-a-el {
    display: inline-block;
    padding: 0.2em 1em;
    background-color: green;
    border-radius: 0.5em;
    text-decoration: none;
    color: #99FF99;
}

.download-btn-a-el:hover {
    background-color: rgb(204, 204, 0);
}

.choose-year-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.choose-year-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.choose-year-wrapper:focus-within::after {
    transform: scaleX(1);
}

.no-results-found {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}