{% extends 'common/home.html' %}
{% load static %}

{% block body_attrs %}
style="--navbar-bg: url('{% static "images/results-background.jpg" %}'); --navbar-bg-pos: 50% 50%;"
{% block navbar_title %}Results{% endblock %}
{% endblock %}

{% block content %}

{% if results %}
    <div class="wrapper-results">
        <form class="results" method="get">
            <h2>Results</h2>
            <div class="choose-year-wrapper">
                <label class="choose-year-label-el">Choose year:</label>
                <select name="year" class="year-select" onchange="this.form.submit()">
                    <option value="">All</option>
                    {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>
                        {{ y }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <ul class="files-list">
                {% for r in results %}
                    <li class="li-el-files">
                        {{ r.title }} ({{ r.file_type }})
                        - <a href="{{ r.file.url }}" target="_blank" class="download-btn-a-el">Download</a>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>
{% else %}
    <div class="no-results-found">
        <h2>No results available at this time, please try again later.</h2>
        <p>Report this problem to: +359ХХХХХХХ</p>
    </div>
{% endif %}

{% endblock %}
