{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'common/css/global.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {% block extra_head %}{% endblock %}
    <title>{% block title %}Athletics Site{% endblock %}</title>
</head>
<body {% block body_attrs %}{% endblock %}>
<div class="wrapper">
    <nav class="navbar">
        <h1 class="navbar-title">
            {% block navbar_title %}Home{% endblock %}
        </h1>
        <div class="hamburger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul>
            <li><a href="{% url 'common:home_page' %}">Home</a></li>

            <li class="dropdown">
                <a class="dropael" href="{% url 'athletes:overview' %}">Athletes</a>
                <div class="dropdown-content">
                    <a href="{% url 'athletes:list' %}">List of athletes</a>
                    <a href="{% url 'athletes:create' %}">Create an athlete</a>
                </div>
            </li>
            <li><a href="{% url 'common:disciplines' %}">Disciplines</a></li>
            <li><a href="{% url 'competitions:list' %}">Competitions</a></li>
            <li><a href="{% url 'results' %}">Results</a></li>
            <li><a href="{% url 'common:contact_page' %}">Contact</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</div>
<footer class="site-footer">
    <p>&copy; 2026 All rights reserved. </p>
</footer>
<script src="{% static 'common/js/main.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
