{% extends 'common/base.html' %}
{% load static %}

{% block title %}Competition Categories{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'athletes/css/athletes-list.css' %}">
{% endblock %}

{% block body_attrs %}style="--navbar-bg: url('{% static "common/images/athletes-background.jpg" %}'); --navbar-bg-pos: 55% 48%;"{% endblock %}

{% block navbar_title %}Competition Categories{% endblock %}

{% block content %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for category in competition_categories %}
                    <tr>
                        <td align="center">{{ category.category_name }}</td>
                        <td align="center"><a href="{% url 'competitions:update_competition_category' category.pk %}" class="update-athlete-btn">UPDATE</a></td>
                        <td align="center"><a href="{% url 'competitions:delete_competition_category' category.pk %}" class="delete-athlete-btn">DELETE</a></td>
                    </tr>
                {% empty %}
                    <h1 class="no-data-message">No data available at this moment!</h1>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'competitions:create_competition_category' %}" class="create-athlete-btn">CREATE COMPETITION CATEGORY</a>
    </div>
{% endblock %}
