{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Main page</title>
</head>
<body {% block body_attrs %}style="--navbar-bg: url('{% static "images/background_image.jpg" %}'); --navbar-bg-pos: 50% 40%;"{% endblock %}>
<div class="wrapper">
    <nav class="navbar">
        <h1 class="navbar-title">
            {% block navbar_title %}Home{% endblock %}
        </h1>
        <div class="hamburger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul>
            <li><a href="{% url 'common:home_page' %}">Home</a></li>

            <li class="dropdown">
                <a class="dropael" href="{% url 'athletes:overview' %}">Athletes</a>
                <div class="dropdown-content">
                    <a href="{% url 'athletes:list' %}">List of athletes</a>
                    <a href="{% url 'athletes:create' %}">Create an athlete</a>
                </div>
            </li>
            <li><a href="{% url 'common:disciplines' %}">Disciplines</a></li>
            <li><a href="{% url 'results' %}">Results</a></li>
        </ul>
    </nav>
    {% block content %}
        <div class="home-content">
            <header class="welcome-header">
                <h1>Welcome to the Athletics Site</h1>
                <p>Your one-stop place for track and field records and athlete information.</p>
            </header>

            <div class="card-container">
                <a href="{% url 'athletes:overview' %}" class="card-link">
                    <div class="card">
                        <h2>Athletes</h2>
                        <p>Explore our database of athletes. View profiles, and check their status.</p>
                    </div>
                </a>
                <a href="{% url 'results' %}" class="card-link">
                    <div class="card">
                        <h2>Records</h2>
                        <p>Discover world and national records. See the best performances in athletics.</p>
                    </div>
                </a>
            </div>
        </div>
    {% endblock %}
</div>
<footer class="site-footer">
    <p>&copy; 2026 All rights reserved. </p>
</footer>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
